.login{
    // width: 400px;
    // height: 200px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    margin-right: 100px
}

.bg{
    background: url(../../assets/images/bg.jpeg) no-repeat;
    background-size: 100% 100%;
}
.title{
    font-size: 30px;
    color: #fff
}